body {
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Sunflower', sans-serif; */
  /* font-family: 'Exo 2', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/concrete_seamless.png");
  background: url("../images/kleurrijke-glitters-achtergrond_1035-6406.jpg")
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  /* opacity: 0.5; */
  /* background-color:rgba(0, 0, 0, 0.5); */
  /* background:  */
}

h1,
h2,
h3,
p {
  font-size: 35px;
  /* font-weight: bold; */
  color: #ddd;
  margin-bottom: 20px;
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Sunflower', sans-serif; */
  /* font-family: 'Exo 2', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Merriweather Sans', sans-serif; */
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  /* font-family: Georgia, Times, "Times New Roman", serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Sunflower', sans-serif; */
  /* font-family: 'Exo 2', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-weight: 700;
  /* color: #4aaaa5; */
  color: #FFD700;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  /* height: 150px; */
  /* margin: 0 0 110px; */
  overflow: auto;
  color: #fff;
  /* background: #fff; */
  /* background: #00ff99; */
  /* background: #00b386; */
  border-bottom: 2px solid #ccc;
}

#logo {
  float: left;
  width: 320px;
  height: 90px;
  /* font-family: Georgia, Times, "Times New Roman", serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Sunflower', sans-serif; */
  /* font-family: 'Exo 2', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  /* color: #fff; */
  text-align: center;
  text-decoration: none;
  /* background: #4aaaa5; */
  /* background: #FFD700; */
  /* background: #D4AF37; */
  background-color:rgba(0, 0, 0, 0);
  

/* color: #D46037 -webkit-gradient(linear, left top, left bottom, from(#D4C937), to(#D46037)) no-repeat; */
  /* Background Gradient for Analagous Colors */
    /* background-color: #D46037; */
    /* For WebKit (Safari, Chrome, etc) */
    /* background: #D46037 -webkit-gradient(linear, left top, left bottom, from(#D4C937), to(#D46037)) no-repeat; */
    /* Mozilla,Firefox/Gecko */
    /* background: #D46037 -moz-linear-gradient(top, #D4C937, #D46037) no-repeat; */
    /* IE 5.5 - 7 */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4C937, endColorstr=#D46037) no-repeat; */
    /* IE 8 */
    /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4C937, endColorstr=#D4C937)" no-repeat; */

}
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  padding: 10px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  /* border-top: 8px solid #4aaaa5; */
  border-top: 8px solid #FFD700;
}

/* sidebar */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  /* background: #fff; */
  background-color:rgba(0, 0, 0, 0.5);
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

/* main */

#main-container {
  padding-top: 130px;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 750px;
  padding: 30px;
  margin: 0 0 40px;
  /* background: #fff; */
  background-color:rgba(0, 0, 0, 0.5);
  border: 0px solid #ddd;
}
.main-section-font {
  color: #ccc
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

.card{
  height: 450px;
  width: 300px;
  position: relative;
  float: left;
  padding: 10px;
  margin: 20px 20px 25px;
  overflow: auto;
}

.card-content,p {
  color: #666
}
.card-content,a {
  color: #666;
  /* padding: 5px 0 0; */
  font-size: 20px;
  align-self: right;
}

.brand-logo{
  left: 50px;
  top: 20px;
  color:   -webkit-gradient(linear, left top, left bottom, from(#D4C937), to(#D46037)) no-repeat;

  /* color: -webkit-linear-gradient(#eee, #333); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */

   /* Background Gradient for Analagous Colors */
   /* background-color: #D46037; */
   /* For WebKit (Safari, Chrome, etc) */
     background: #D46037 -webkit-gradient(linear, left top, left bottom, from(#D4C937), to(#D46037)) no-repeat;
   /* Mozilla,Firefox/Gecko */
   /* background: #D46037 -moz-linear-gradient(top, #D4C937, #D46037) no-repeat; */
   /* IE 5.5 - 7 */
   /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4C937, endColorstr=#D46037) no-repeat; */
   /* IE 8 */
   /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4C937, endColorstr=#D4C937)" no-repeat; */

}

.nav-wrapper{
  background-color:  #00b386; 
}